#!/bin/sh

. /usr/share/debconf/confmodule
set -e

# Accept license?
db_get bindiff/accepted-bindiff-license
if [ "$RET" != "true" ]; then
    db_fset bindiff/accepted-bindiff-license seen false
    exit 0
fi

# Ask for IDA installation directory
while true; do
    set +e
    db_input high zynamics/ida7_location
    set -e
    [ $? -eq 30 ] && break

    db_go || true
    db_get zynamics/ida7_location && idadir=${RET}

    # Break on empty directory, user is on their own
    [ -z "${idadir}" ] && break

    # Check for a valid IDA directory
    [ -x "${idadir}/ida64" ] && break
done
