#!/usr/bin/make -f

%:
	dh $@

override_dh_strip:
	strip debian/bindiff/opt/bindiff/bin/bindiff \
	    debian/bindiff/opt/bindiff/bin/binexport2dump \
	    debian/bindiff/opt/bindiff/extra/binaryninja/*.so \
	    debian/bindiff/opt/bindiff/plugins/*.so || true
	chrpath -d debian/bindiff/opt/bindiff/bin/bindiff \
	    debian/bindiff/opt/bindiff/bin/binexport2dump \
	    debian/bindiff/opt/bindiff/plugins/*.so || true

override_dh_fixperms:
	dh_fixperms
	chmod +x debian/bindiff/opt/bindiff/bin/bindiff
	chmod +x debian/bindiff/opt/bindiff/bin/binexport2dump
