[access]
	inheritFrom = binexport-team
[submit]
	action = inherit
[access "refs/*"]
	owner = group mdb/binexport-team
	forgeAuthor = group mdb/copybara-git-writers
	forgeCommitter = group mdb/copybara-git-writers
	push = group mdb/copybara-git-writers
	label-Code-Review = -2..+2 group mdb/kokoro-dedicated
	label-Kokoro = -1..+1 group mdb/kokoro-dedicated
[label "Kokoro"]
	function = MaxWithBlock
	value = -1 Fails
	value = 0 No score
	value = +1 Verified
	copyAllScoresIfNoCodeChange = true
[project]
	description = Export disassemblies into Protocol Buffers and to BinNavi databases
