<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2011-2022 Google LLC

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="dir98E0A0B8A465977C24702859C145E9B9" Name="jre" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="BinDiff_Jre">
      <Component Id="cmp18BB610B0330AFE5889A3830487B53EC" Directory="dir98E0A0B8A465977C24702859C145E9B9" Guid="0A5E8E4E-E101-4A9D-83F5-7744BF9DB3D4" KeyPath="yes">
        <!-- Empty directory to speed up local testing -->
        <CreateFolder />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
