<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2011-2022 Google LLC

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <!-- Never change the UpgradeCode after release -->
  <Product Id="*"
           UpgradeCode="DFAC8553-6E4B-48b9-8D9D-8CC97D67F726"
           Name="BinDiff"
           Language="1033"
           Version="7.0.0"
           Manufacturer="Google LLC">
    <Package Id="*"
             Keywords="Installer"
             Platform="x64"
             Comments="This Installer database contains the logic and data required to install BinDiff."
             Description="BinDiff Installation package"
             InstallerVersion="500"
             InstallScope="perMachine"
             Compressed="yes" />
    <Media Id="1" Cabinet="bindiff.cab" EmbedCab="yes" />

    <!-- Enable Windows Installer major upgrade functionality so users can
         seamlessly install a new version of the product and have the old
         version automatically uninstalled. This prevents users from
         installing if a newer version of this product is already installed.
         This is part of the Windows Installer major upgrade functionality.
         See also: https://goo.gl/TfKVUa
      -->
    <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

    <!-- Launch conditions -->
    <Condition Message="[ProductName] requires an x64 edition of Windows.">
      VersionNT64
    </Condition>
    <Condition Message="You must have Administrative rights on this machine to install [ProductName].">
      Privileged
    </Condition>

    <!-- Properties -->
    <Property Id="ARPPRODUCTICON" Value="Icons_BinDiff.ico" />
    <Property Id="ARPHELPLINK" Value="https://www.zynamics.com/bindiff.htm" />
    <Property Id="ARPURLINFOABOUT" Value="https://www.zynamics.com/" />
    <PropertyRef Id="WIX_ACCOUNT_ADMINISTRATORS" />
    <PropertyRef Id="WIX_ACCOUNT_USERS" />

    <!-- Need to look into the registry as VersionNT64 is influenced by the
         default app manifest of Windows Installer itself. So GetVersionEx()
         will report too old a version.
      -->
    <Property Id="WINDOWSVERSIONMAJOR">
      <RegistrySearch Id="WindowsVersionMajorRegistry" Type="raw" Win64="yes"
                      Root="HKLM"
                      Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion"
                      Name="CurrentMajorVersionNumber" />
    </Property>
    <Property Id="WINDOWSBUILDNUMBER">
      <RegistrySearch Id="WindowsBuildNumberRegistry" Type="raw" Win64="yes"
                      Root="HKLM"
                      Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion"
                      Name="CurrentBuildNumber" />
    </Property>

    <!-- Note (b/150918172): The property below controls the display of a warning
         when installing on unsupported versions of Windows.
         We only test on Windows 10, but people started patching out
         LaunchConditions from the MSI, so now we show a warning message instead.
      -->
    <Property Id="ObsoleteOSDetected" Value="0"/>
    <SetProperty Id="ObsoleteOSDetected" After="AppSearch" Value="1"><![CDATA[
      WINDOWSVERSIONMAJOR < 10 OR (WINDOWSVERSIONMAJOR = 10 AND WINDOWSBUILDNUMBER < 18362)
    ]]></SetProperty>

    <!-- Note (b/140218119): This custom action deletes an existing empty
         directory or junction. Possible conditions for %ProgramData%\BinDiff:
           - Does not exist - does nothing
           - Is directory junction or symlink - gets deleted
           - Is empty directory - gets deleted
           - Is non-empty dir - does nothing
         The action will execute with elevated privileges.
      -->
    <SetProperty Id="RemoveCommonAppData"
                 Value='"[SystemFolder]cmd.exe" /c rmdir /q "[CommonAppDataFolder]BinDiff"'
                 Before="RemoveCommonAppData"
                 Sequence="execute" />
    <CustomAction Id="RemoveCommonAppData"
                  BinaryKey="WixCA"
                  DllEntry="WixQuietExec64"
                  Execute="deferred"
                  Impersonate="no"
                  Return="ignore" />

    <!-- Set the correct paths in the per-machine config file. The extra '.'
         in directory is necessary because MSI INSTALLDIR always ends with a
         backslash. Windows' command-line argument handling will then treat
         the following quote (") as escaped, breaking argument passing.
      -->
    <SetProperty Id="SetupConfigFile"
                 Value='"[#bindiff_config_setup.exe]" --config "[#bindiff.json]" directory="[INSTALLDIR]." ui.java_binary="[INSTALLDIR]jre\bin\javaw.exe"'
                 Before="SetupConfigFile"
                 Sequence="execute" />
    <CustomAction Id="SetupConfigFile"
                  BinaryKey="WixCA"
                  DllEntry="WixQuietExec64"
                  Execute="deferred"
                  Impersonate="no"
                  Return="check" />

    <!-- Install disassembler plugins for the user installing BinDiff -->
    <SetProperty Id="SetupPerUser"
                 Value='"[#bindiff_config_setup.exe]" --per_user'
                 Before="SetupPerUser"
                 Sequence="execute" />
    <CustomAction Id="SetupPerUser"
                  BinaryKey="WixCA"
                  DllEntry="WixQuietExec64"
                  Execute="deferred"
                  Impersonate="yes"
                  Return="ignore" />

    <!-- Installation sequence for administrative installations -->
    <InstallExecuteSequence>
      <Custom Action="RemoveCommonAppData" After="InstallInitialize"/>

      <LaunchConditions After="AppSearch"/>

      <Custom Action="SetupConfigFile" After="InstallFiles">
        NOT Installed OR MaintenanceMode = "Modify"
      </Custom>

      <Custom Action="SetupPerUser" After="SetupConfigFile">
        NOT Installed OR MaintenanceMode = "Modify"
      </Custom>
    </InstallExecuteSequence>

    <!-- Default installation sequence -->
    <InstallUISequence>
      <LaunchConditions After="AppSearch"/>
    </InstallUISequence>

    <!-- Directory structure -->
    <Directory Id="TARGETDIR" Name="SourceDir" FileSource="$(var.ProjectDir)SourceDir">
      <Directory Id="ProgramFiles64Folder" Name="ProgramFiles">
        <Directory Id="INSTALLDIR" Name="BinDiff">
          <Component Id="BinDiff_License" Win64="yes"
                     Guid="44B24AA7-0897-47FD-AD43-11C260EB8982">
            <File Name="license.rtf" KeyPath="yes">
              <Shortcut Id="BinDiff_License"
                        Directory="ProgramMenu_BinDiff"
                        Name="BinDiff License"
                        Advertise="yes"
                        Icon="Icons_License.rtf"
                        IconIndex="0" />
            </File>
          </Component>
          <Component Id="BinDiff_FontLicense" Win64="yes"
                     Guid="D2EAA1F5-9A02-44C6-B53F-DA387EF4288D">
            <File Name="font-license.txt" KeyPath="yes">
              <Shortcut Id="BinDiff_FontLicense"
                        Directory="ProgramMenu_BinDiff"
                        Name="Roboto Mono Font License"
                        Advertise="yes"
                        Icon="Icons_License.txt"
                        IconIndex="0" />
            </File>
          </Component>

          <Directory Id="BinDiff_Bin" Name="bin">
            <!-- Binaries -->
            <Component Id="BinDiff_Bin_BindiffEXE" Win64="yes"
                       Guid="849A24BB-5409-4405-A9B3-11669582CA99">
              <File Name="bindiff.exe" KeyPath="yes">
                <!-- Show minimized to avoid flashing the console window -->
                <Shortcut Id="bindiff.exe"
                          Arguments="--ui"
                          Directory="ProgramMenu_BinDiff"
                          Name="BinDiff"
                          Advertise="yes"
                          Icon="Icons_BinDiff.ico"
                          IconIndex="0"
                          Show="minimized" />
              </File>
            </Component>
            <Component Id="BinDiff_Bin_Bindiff_config_setupEXE" Win64="yes"
                       Guid="B07DC2EE-501C-4630-B73D-77C6F2132160">
              <File Name="bindiff_config_setup.exe" />
              <!-- Run the per-user setup once per user when they log in. -->
              <RegistryValue Root="HKLM"
                             Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Run"
                             Name="BinDiffPerUserSetup"
                             Type="string" Value='"[#bindiff_config_setup.exe]" --per_user'
                             KeyPath="yes" />
            </Component>
            <Component Id="BinDiff_Bin_Bindiff_uiCMD" Win64="yes"
                       Guid="F447E462-235B-46C9-8BF2-36F54A6DECDC">
              <File Name="bindiff_ui.cmd" KeyPath="yes" />
            </Component>
            <Component Id="BinDiff_Bin_BindiffJAR" Win64="yes"
                       Guid="B9BA7E8F-C08C-4068-8717-A7BA3AE61692">
              <File Name="bindiff.jar" KeyPath="yes" />
            </Component>
            <Component Id="BinDiff_Bin_Binexport2dumpEXE" Win64="yes"
                       Guid="5C1017A1-765B-463D-892A-D367E4D49FA3">
              <File Name="binexport2dump.exe" KeyPath="yes" />
            </Component>
            <Component Id="BinDiff_Bin_AddToSystemPath" Win64="yes"
                       Guid="02A7BB60-AF84-4FDD-980F-E187DCE57264">
              <RegistryValue Root="HKLM"
                             Key="SOFTWARE\[Manufacturer]\[ProductName]\EnvironmentVariable"
                             Type="string" Value="1"
                             KeyPath="yes" />
              <Environment Id="UpdatePath" Name="PATH"
                           Action="set" Permanent="no"
                           System="yes" Part="last"
                           Value="[INSTALLDIR]bin" />
            </Component>
          </Directory>

          <Directory Id="BinDiff_Extra" Name="Extra">
            <!-- Proto definition for config file -->
            <Directory Id="BinDiff_Extra_Config" Name="Config">
              <Component Id="BinDiff_Extra_Config_Bindiff_configPROTO"
                         Guid="20ADCF4C-5977-4DC1-BECA-3C7897F3D522">
                <File Name="bindiff_config.proto" KeyPath="yes" />
              </Component>
            </Directory>

            <!-- Ghidra BinExport extension -->
            <Directory Id="BinDiff_Extra_Ghidra" Name="Ghidra">
              <Component Id="Ghidra_Extensions"
                         Guid="30561A75-8C83-414B-B3F8-9389EA7F27C0">
                <File Name="ghidra_BinExport.zip" KeyPath="yes" />
                <File Id="Ghidra_Extensions_ReadmeTXT" Name="Readme.txt" />
              </Component>
            </Directory>
          </Directory>

          <Directory Id="BinDiff_Plugins" Name="Plugins">
            <!-- Binary Ninja plugins -->
            <Directory Id="BinDiff_Plugins_Binary_Ninja" Name="Binary Ninja">
              <Component Id="BinaryNinja_Plugins" Win64="yes"
                         Guid="34E0F912-2193-4EDC-B417-A5C92A1151F8">
                <File Name="binexport12_binaryninja.dll" KeyPath="yes" />
                <File Id="BinaryNinja_Plugins_ReadmeTXT" Name="Readme.txt" />
              </Component>
            </Directory>

            <!-- IDA Pro plugins -->
            <Directory Id="BinDiff_Plugins_IDA_Pro" Name="IDA Pro">
              <Component Id="Ida_Plugins" Win64="yes"
                         Guid="E2F631C8-DF7A-48AC-BAAB-578D9FB107F3">
                <File Name="bindiff7_ida.dll" />
                <File Name="bindiff7_ida64.dll" KeyPath="yes" />
                <File Name="binexport12_ida.dll" />
                <File Name="binexport12_ida64.dll" />
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <!-- Start Menu entries (web links) -->
      <Directory Id="ProgramMenuFolder" Name="ProgramMenu">
        <Directory Id="ProgramMenu_BinDiff" Name="BinDiff">
          <Component Id="ProgramMenu_BinDiff_GoogleSecurityBlog"
                     Guid="8FA2FFB8-14E8-4770-8CEA-21A8477960B8">
            <RegistryValue Root="HKMU"
                           Key="SOFTWARE\[Manufacturer]\[ProductName]\GoogleSecurityBlogShortCut"
                           Type="string" Value="1"
                           KeyPath="yes" />
            <util:InternetShortcut Id="ProgramMenu_BinDiff_GoogleSecurityBlog"
                                   Name="Google Security Blog"
                                   Target="https://security.googleblog.com/"
                                   Type="url" />
          </Component>
          <Component Id="ProgramMenu_BinDiff_ReportABug"
                     Guid="4984E7EB-FAE8-480C-95C2-89FA9E41D4A7">
            <RegistryValue Root="HKMU"
                           Key="SOFTWARE\[Manufacturer]\[ProductName]\ReportABugShortCut"
                           Type="string" Value="1"
                           KeyPath="yes" />
            <util:InternetShortcut Id="ProgramMenu_BinDiff_ReportABug"
                                   Name="Report a bug"
                                   Target="https://bugs.zynamics.com/bindiff"
                                   Type="url" />
          </Component>
          <Component Id="ProgramMenu_BinDiff_UserDocumentation"
                     Guid="3F923265-5B14-4A05-B79A-4DAA35DEF732">
            <RegistryValue Root="HKMU"
                           Key="SOFTWARE\[Manufacturer]\[ProductName]\UserDocumentationShortCut"
                           Type="string" Value="1"
                           KeyPath="yes" />
            <util:InternetShortcut Id="ProgramMenu_BinDiff_UserDocumentation"
                                   Name="User Documentation"
                                   Target="https://www.zynamics.com/bindiff/manual/index.html"
                                   Type="url" />
          </Component>
          <Component Id="ProgramMenu_BinDiff_Open_Source_BinExport"
                     Guid="81637757-4548-4DEC-BBE9-D4318045F111">
            <RegistryValue Root="HKMU"
                           Key="SOFTWARE\[Manufacturer]\[ProductName]\OpenSourceBinExportShortCut"
                           Type="string" Value="1"
                           KeyPath="yes" />
            <util:InternetShortcut Id="ProgramMenu_BinDiff_Open_Source_BinExport"
                                   Name="Open Source BinExport"
                                   Target="https://github.com/google/binexport"
                                   Type="url" />
          </Component>
          <Component Id="ProgramMenu_BinDiff_ZynamicsHomePage"
                     Guid="CA2F2AB5-1CE3-44AA-8C69-C2FC2614F66A">
            <RegistryValue Root="HKMU"
                           Key="SOFTWARE\[Manufacturer]\[ProductName]\ZynamicsHomePageShortCut"
                           Type="string" Value="1"
                           KeyPath="yes" />
            <util:InternetShortcut Id="ProgramMenu_BinDiff_ZynamicsHomePage"
                                   Name="zynamics Home Page"
                                   Target="https://www.zynamics.com/"
                                   Type="url" />
          </Component>
        </Directory>
      </Directory>

      <!-- Per-machine Configuration -->
      <Directory Id="CommonAppDataFolder" Name="CommonAppData">
        <Directory Id="CommonAppData_BinDiff" Name="BinDiff">
          <Component Id="CommonAppData_BinDiff_Config"
                     Guid="4A28A4D1-BA02-4729-B2F6-16D67134B388">
            <CreateFolder>
              <Permission GenericAll="yes"
                          User="[WIX_ACCOUNT_ADMINISTRATORS]" />
              <Permission GenericRead="yes"
                          GenericExecute="yes"
                          GenericWrite="no"
                          User="[WIX_ACCOUNT_USERS]" />
            </CreateFolder>
            <RemoveFolder Id="CommonAppData_BinDiff"
                          On="both" />

            <File Name="bindiff.json" KeyPath="yes" />
            <RemoveFile Id="Remove_BindiffJSON"
                        Name="bindiff.json"
                        On="both" />
          </Component>
        </Directory>
      </Directory>

      <!-- Roboto Mono font -->
      <Directory Id="FontsFolder" Name="Fonts">
        <Component Id="Fonts_Roboto"
                   Guid="00AD75C2-4D77-4BB5-A07D-34350C2AA764">
          <File Name="Roboto-Bold.ttf" KeyPath="no" TrueType="yes" />
          <File Name="Roboto-BoldItalic.ttf" KeyPath="no" TrueType="yes" />
          <File Name="Roboto-Italic.ttf" KeyPath="no" TrueType="yes" />
          <File Name="Roboto-Light.ttf" KeyPath="no" TrueType="yes" />
          <File Name="Roboto-LightItalic.ttf" KeyPath="no" TrueType="yes" />
          <File Name="Roboto-Medium.ttf" KeyPath="no" TrueType="yes" />
          <File Name="Roboto-MediumItalic.ttf" KeyPath="no" TrueType="yes" />
          <File Name="Roboto-Regular.ttf" KeyPath="yes" TrueType="yes" />
          <File Name="Roboto-Thin.ttf" KeyPath="no" TrueType="yes" />
          <File Name="Roboto-ThinItalic.ttf" KeyPath="no" TrueType="yes" />
        </Component>
        <Component Id="Fonts_RobotoMono"
                   Guid="286A9B3E-5808-4B69-ABBA-45DC0E22A1CA">
          <File Name="RobotoMono-Bold.ttf" KeyPath="no" TrueType="yes" />
          <File Name="RobotoMono-BoldItalic.ttf" KeyPath="no"
                TrueType="yes" />
          <File Name="RobotoMono-Italic.ttf" KeyPath="no" TrueType="yes" />
          <File Name="RobotoMono-Light.ttf" KeyPath="no" TrueType="yes" />
          <File Name="RobotoMono-LightItalic.ttf" KeyPath="no"
                TrueType="yes" />
          <File Name="RobotoMono-Medium.ttf" KeyPath="no" TrueType="yes" />
          <File Name="RobotoMono-MediumItalic.ttf" KeyPath="no"
                TrueType="yes" />
          <File Name="RobotoMono-Regular.ttf" KeyPath="yes" TrueType="yes" />
          <File Name="RobotoMono-Thin.ttf" KeyPath="no" TrueType="yes" />
          <File Name="RobotoMono-ThinItalic.ttf" KeyPath="no"
                TrueType="yes" />
        </Component>
      </Directory>
    </Directory>

    <!-- Merge Modules for Visual Studio Runtime -->
    <DirectoryRef Id="TARGETDIR" DiskId="1">
      <!-- These will generate ICE82 warnings, which is expected. See
           https://goo.gl/JNNPJF for details. -->
      <Merge Id="CRTx64" Language="0"
             SourceFile="$(var.ProjectDir)SourceDir\MergeModules\Microsoft_VC141_CRT_x64.msm" />
    </DirectoryRef>

    <!-- Start Menu entries -->
    <DirectoryRef Id="ProgramMenu_BinDiff">
      <Component Id="ProgramMenu_BinDiff"
                 Guid="E76E8E63-DC7B-44F7-9D94-10AEA751B45F">
        <RemoveFolder Id="ProgramMenu_BinDiff" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]"
                       Type="string" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!-- Features -->
    <Feature Id="AppRootFeature"
             ConfigurableDirectory="INSTALLDIR"
             Title="BinDiff"
             Description="BinDiff executables (required)."
             Display="expand"
             Absent="disallow"
             AllowAdvertise="no">
      <MergeRef Id="CRTx64" />

      <ComponentRef Id="ProgramMenu_BinDiff" />
      <ComponentRef Id="BinDiff_License" />
      <ComponentRef Id="BinDiff_Bin_Bindiff_config_setupEXE" />
      <ComponentRef Id="BinDiff_Bin_Bindiff_uiCMD" />
      <ComponentRef Id="BinDiff_Bin_BindiffJAR" />
      <ComponentRef Id="BinDiff_Extra_Config_Bindiff_configPROTO" />
      <ComponentRef Id="BinaryNinja_Plugins" />
      <ComponentRef Id="Ghidra_Extensions" />
      <ComponentRef Id="Ida_Plugins" />
      <ComponentRef Id="ProgramMenu_BinDiff_GoogleSecurityBlog" />
      <ComponentRef Id="ProgramMenu_BinDiff_Open_Source_BinExport" />
      <ComponentRef Id="ProgramMenu_BinDiff_ReportABug" />
      <ComponentRef Id="ProgramMenu_BinDiff_UserDocumentation" />
      <ComponentRef Id="ProgramMenu_BinDiff_ZynamicsHomePage" />
      <ComponentRef Id="CommonAppData_BinDiff_Config" />

      <Feature Id="BinDiffJre"
               Title="Bundled Java Runtime Environment"
               Description="A trimmed down version of the Java Runtime Environment necessary to run the BinDiff GUI."
               Absent="disallow"
               AllowAdvertise="no">
        <ComponentGroupRef Id="BinDiff_Jre" />
      </Feature>

      <Feature Id="BinDiffCmdLine"
               Title="Standalone BinDiff"
               Description="Installs a command line version of BinDiff to be used without a GUI."
               Absent="disallow"
               AllowAdvertise="no">
        <ComponentRef Id="BinDiff_Bin_BindiffEXE" />
        <ComponentRef Id="BinDiff_Bin_Binexport2dumpEXE" />
      </Feature>

      <Feature Id="AddToSystemPath"
               Title="Entry in Path environment variable"
               Description="Add the [ProductName] installation directory to the system path."
               Absent="allow"
               AllowAdvertise="no">
        <ComponentRef Id="BinDiff_Bin_AddToSystemPath" />
      </Feature>

      <Feature Id="Roboto"
               Title="Roboto Font"
               Description="Roboto is part of Google’s signature family of fonts and is the default font on Android and Chrome OS."
               Absent="allow"
               AllowAdvertise="no">
        <ComponentRef Id="BinDiff_FontLicense" />
        <ComponentRef Id="Fonts_Roboto" />
        <ComponentRef Id="Fonts_RobotoMono" />
      </Feature>
    </Feature>

    <Icon Id="Icons_BinDiff.ico"
          SourceFile="$(var.ProjectDir)SourceDir\Icons\bindiff.ico" />
    <Icon Id="Icons_License.rtf"
          SourceFile="$(var.ProjectDir)SourceDir\Icons\license.rtf" />
    <Icon Id="Icons_License.txt"
          SourceFile="$(var.ProjectDir)SourceDir\Icons\license.txt" />

    <WixVariable Id="WixUILicenseRtf"
                 Value="$(var.ProjectDir)SourceDir\ProgramFiles\BinDiff\license.rtf" />
    <WixVariable Id="WixUIBannerBmp"
                 Value="$(var.ProjectDir)SourceDir\Graphics\banner.bmp" />
    <WixVariable Id="WixUIDialogBmp"
                 Value="$(var.ProjectDir)SourceDir\Graphics\dialog.bmp" />

    <!-- UI Flow
         First-time install dialog sequence:
          - WixUI_WelcomeDlg
          - WixUI_WarnAboutObsoleteOSDlg
          - WixUI_LicenseAgreementDlg
          - WixUI_CustomizeDlg
          - WixUI_VerifyReadyDlg
          - WixUI_DiskCostDlg

         Maintenance dialog sequence:
          - WixUI_MaintenanceWelcomeDlg
          - WixUI_MaintenanceTypeDlg
          - WixUI_CustomizeDlg
          - WixUI_VerifyReadyDlg
      -->
    <UI Id="WixUI_FeatureTree">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Segoe UI" Size="9" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Segoe UI" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Segoe UI" Size="11" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="FeatureTree" />

      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg"><![CDATA[ObsoleteOSDetected <> "1"]]></Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="WarnAboutObsoleteOSDlg"><![CDATA[ObsoleteOSDetected = "1"]]></Publish>

      <Publish Dialog="WarnAboutObsoleteOSDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="WarnAboutObsoleteOSDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>

      <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WarnAboutObsoleteOSDlg" Order="1"><![CDATA[ObsoleteOSDetected = "1"]]></Publish>
      <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2"><![CDATA[ObsoleteOSDetected <> "1"]]></Publish>
      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="CustomizeDlg">LicenseAccepted = "1"</Publish>

      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="1">Installed</Publish>
      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg" Order="2">NOT Installed</Publish>
      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg" Order="1">NOT Installed OR WixUI_InstallMode = "Change"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg" Order="2">Installed</Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceTypeDlg" Control="ChangeButton" Event="NewDialog" Value="CustomizeDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

      <Dialog Id="WarnAboutObsoleteOSDlg" Width="370" Height="270" Title="[ProductName] Setup">
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>

        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}Unsupported Operating System" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="The detected operating system is not supported" />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

        <Control Id="NoticeLabel" Type="Text" X="20" Y="60" Width="290" Height="60" NoPrefix="yes" Text="You are installing BinDiff on an unsupported version of Windows. The recommended minimum version is Windows 10 x64 (May 2019 Update). You can continue with the installation, however BinDiff may not function as expected." />
      </Dialog>
    </UI>

    <UIRef Id="WixUI_Common" />
  </Product>
</Wix>
